<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OTP verification</title>
    {% load static %}

  </head>
  <body style="letter-spacing: 0.5px;font-family: arial, sans-serif;position: relative;font-size: 14px;line-height: 20px;padding: 0px;margin: 0px;">
    <div style="background-color: #f2f2f2;margin: 0px;padding: 0px;padding: 40px;">
     <div style="padding: 30px;margin-top: 2px;width:60%;background-color: white;border: 1px solid #dedede; margin-left: 17%; ">
      <div class="row">
      <div class="col-md-12">
        <span>Your otp for email verification is <b>{{otp}}</b></span>
      </div>
      </div>
     </div>
    </div>
  </body>
</html>